*{
  margin: 0;
  padding:0;
}

html{
  scroll-snap-type: y mandatory;
}

.App{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.container{
  position: relative;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
  height: 90vh;
  overflow: scroll;
  width: 50vh;
  -ms-overflow-style: none;
  -ms-scroll-bar-width: none;
  scrollbar-width: none;
}


/*Hide scroll */
.container::-webkit-scrollbar{
  display: none;
}